@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono&display=swap');

:root {
  --ff-body: 'Space Mono', monospace;
  --ff-title: 'Audiowide', cursive;

  --clr-light: #e3ddeb;
  --clr-dark: #2c3546;
  --clr-black: #182a36;
  --clr-primary: #08eaea;
  --clr-accent: #c80664;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-body);
  font-size: 1rem;
  color: var(--clr-light);
  background-color: rgba(24, 42, 54, 1);
  background-image: url(./images/bg-mobile-ny.jpg);
  background-size: 200%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.card {
  max-width: 1200px;
  margin: 3em 2em;
  background: rgba(8, 234, 234, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  grid-template-areas:
    'img'
    'title'
    'subtitle'
    'icons'
    'content'
    'button';
  align-items: center;
  justify-content: center;
  transform-origin: top left;
  transition: all 500ms ease-in;
}

.card.active-card {
  transform: rotate(-90deg);
  transition: all 500ms ease-in;
  z-index: 10;
}

.card__img {
  max-width: 100%;
  height: 200px;
  background-image: url(./images/ny-2.jpg);
  background-size: cover;
  background-color: var(--clr-accent);
  background-blend-mode: multiply;
  border-radius: 10px 10px 0 0;
  grid-area: img;
}

.card__title {
  grid-area: title;
  margin: 0.5em;
  font-family: var(--ff-title);
  font-size: 2.5rem;
  text-shadow: 0 0 3px var(--clr-black), 0 0 8px var(--clr-primary);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card__subtitle {
  grid-area: subtitle;
  font-family: var(--ff-title);
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0 1em;
}

.card__icons {
  grid-area: icons;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.3em 1em;
}

.card__icon {
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--clr-black);
  color: var(--clr-light);
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 0.4em;
  padding: 0.325em 0.4em;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.card__icon:hover,
.card__icon:focus {
  color: var(--clr-primary);
  background-color: var(--clr-light);
  transform: scale(1.3);
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px var(--clr-accent), 0 0 100px var(--clr-accent),
    0 0 150px var(--clr-accent), 0 0 200px var(--clr-accent);
}

#twitter {
  animation-delay: 0.3s;
}

#instagram {
  animation-delay: 0.7s;
}

#youtube {
  animation-delay: 1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.card__content {
  margin: 1em 2em;
  text-align: center;
  font-size: 0.9rem;
}

.card__button {
  font-size: 1.4rem;
  margin: 2em auto;
  cursor: pointer;
  display: inline-block;
  color: var(--clr-accent);
  background-color: transparent;
  border: var(--clr-accent) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.115em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-accent);
  box-shadow: 0 0 0.5em 0 var(--clr-accent), 0 0 0.5em 0 var(--clr-accent) inset;
  position: relative;
  transition: background-color 100ms linear;
}

.card__button::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-accent);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.card__button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-accent);
  opacity: 0;
  z-index: -1;
  background: var(--clr-accent);
  transition: opacity 100ms linear;
}

.card__button:hover,
.card__button:focus {
  color: var(--clr-black);
  text-shadow: none;
}

.card__button:hover::before,
.card__button:focus::before {
  opacity: 1;
}

.card__button:hover::after,
.card__button:focus::after {
  opacity: 1;
}

.card.form {
  position: absolute;
  padding: 2em 1.5em;
  /* display: none; */
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  top: 50%;
  margin: 0 2em 3em;
  transform-origin: bottom right;
  transition: all 200ms ease-in;
}

.card.form.active {
  display: flex;
  visibility: visible;
  transform: translateY(-50%);
}

.form__close {
  position: absolute;
  cursor: pointer;
  border: 1px solid var(--clr-primary);
  padding: 0.5em 1em;
  border-radius: 50%;
  top: 0;
  left: 0;
  font-size: 2rem;
  box-shadow: 2px 0 4px 3px rgba(0, 0, 0, 0.6),
    4px 0 12px 1px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in;
}

.form__close:hover,
.form__close:focus {
  transform: scale(1.2);
  box-shadow: 4px 0 12px 5px rgba(0, 0, 0, 0.6), 8px 0 24px rgba(0, 0, 0, 0.3);
  background-color: var(--clr-primary);
  color: var(--clr-black);
}

.form__title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.875em;
  font-family: var(--ff-title);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.form__control {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__control label {
  position: absolute;
  top: 15px;
  left: 1em;

}

.form__control label span {
  display: inline-block;
  font-size: 1rem;
  min-width: 5px;
  transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form__control input:focus + label span,
.form__control input:valid + label span {
  color: var(--clr-primary);
  transform: translateY(-2.3em);
  pointer-events: none;
}

.form__control input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--clr-primary);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6) inset,
    0 0 12px 1px rgba(0, 0, 0, 0.3) inset;
  border-radius: 5px;
  display: block;
  margin: 0.8em 0;
  padding: 0.6em 0.8em;
  font-size: 1.2rem;
  color: var(--clr-accent);
}

.form__control input:focus {
  border-bottom-color: var(--clr-accent);
}

@media (min-width: 45em) {
  .card__img {
    background-image: url(./images/ny-1.jpg);
    background-size: cover;
    background-position: 10%;
  }
  .card__title {
    font-size: 4rem;
  }

  .card__subtitle {
    font-size: 2.5rem;
  }
  .card__icons {
    margin: 2em 5em;
  }

  .card__icon {
    font-size: 3rem;
  }

  .card__content {
    font-size: 1.1rem;
  }
}

@media (min-width: 55em) {
  body {
    background-image: url(./images/bg-main.jpg),
      linear-gradient(45deg, rgba(24, 42, 54, 0.5)0%, rgba(200, 6, 100, 1)50%,rgba(8, 234, 234, 1)100%);
    background-size: cover;
    /* background-color: linear-gradient
      (45deg, rgba(200, 6, 100, 0.5) 0%, rgba(24, 42, 54, 1) 100%); */
  }

  .card {
    grid-template-areas:
      'img  title '
      'img  subtitle '
      'img  icons '
      'img  content '
      'img  button ';
    grid-template-columns: 1fr 1fr;
  }
  .card__img {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  .card__title {
    font-size: 5rem;
  }

  .card__icons {
    gap: 1em;
  }
}
