@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono&display=swap');

:root {
    --ff-body: 'Space Mono', monospace;
    --ff-title: 'Audiowide', cursive;

    --clr-light: #E3DDEB;
    --clr-dark: #2C3546;
    --clr-black: #182A36;
    --clr-primary: #08EAEA;
    --clr-accent: #C80664;
}

body {
    
}